body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #777;
    border-color: #fff
}

code {
    font-size: 21px;
}

canvas {
    margin: 20px auto;
}

div#container {
    width:600px;
}

pre {
    text-align:left;
}

div#log{
    margin:20px 0 20px 0;
    background-color: antiquewhite;
    border: solid 1px grey;
    padding: 20px;   
}

.validation-summary-errors {
    color:red;
    border: solid 1px grey;
    background-color: lightpink;
    text-align: center;
    margin: 10px 0 10px 0;
    padding-top: 10px;
    font-size: 14px;    
    font-weight: bold;
    display:block;
}

.validation-summary-errors > ul {
    list-style-type: none;
}